
<h1>ServiceDefaultValues</h1>
...Testing table filtering
<p><strong>Filter:</strong> {{tableParams.filter()|json}}
     
<table ng-table="tableParams" data-show-filter="true" class="table table-striped">
  <tbody>
    <tr ng-repeat="service_default_value in service_default_values">
      <td data-title="'Key'" filter="{ 'key': 'text' }">
        <a href="/service_default_values/{{service_default_value.id}}">
          {{service_default_value.key}}
        </a>
      </td>
        <td data-title="'Value'">
          {{service_default_value.value}}
        </td>
        <td data-title="'Status'">
          {{service_default_value.status}}
        </td>
        <td data-title="'Type'">
          {{service_default_value.data_type}}
        </td>
        <td data-title="'Deleted At'">
          {{service_default_value.deleted_at}}
        </td>
        <td data-title="'Expired At'">
          {{service_default_value.expired_at}}
        </td>
        <td data-title="'Service Id'">
          {{service_default_value.service_id}}
        </td>
      <td>
        <a href="/service_default_values/{{service_default_value.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='/service_default_values/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
