<form name="newServiceDefaultValue">
  <fieldset>
    <legend>
      New Service Default Value
    </legend>
      <div class="control-group">
        <label class="control-label">
          Key
        </label>
        <div class="controls">
            <input type="text"
                   name="service_default_value[key]"
                   ng-model="service_default_value.key"
                   class="text_field"
                   required>
          <span ng-show="newServiceDefaultValue.key.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Value
        </label>
        <div class="controls">
            <input type="text"
                   name="service_default_value[value]"
                   ng-model="service_default_value.value"
                   class="text_field"
                   required>
          <span ng-show="newServiceDefaultValue.value.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Status
        </label>
        <div class="controls">
            <input type="text"
                   name="service_default_value[status]"
                   ng-model="service_default_value.status"
                   class="text_field"
                   required>
          <span ng-show="newServiceDefaultValue.status.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Data Type
        </label>
        <div class="controls">
            <input type="text"
                   name="service_default_value[data_type]"
                   ng-model="service_default_value.data_type"
                   class="text_field"
                   required>
          <span ng-show="newServiceDefaultValue.data_type.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Deleted At
        </label>
        <div class="controls">
            <input type="text"
                   name="service_default_value[deleted_at]"
                   ng-model="service_default_value.deleted_at"
                   class="text_field"
                   required>
          <span ng-show="newServiceDefaultValue.deleted_at.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Expired At
        </label>
        <div class="controls">
            <input type="text"
                   name="service_default_value[expired_at]"
                   ng-model="service_default_value.expired_at"
                   class="text_field"
                   required>
          <span ng-show="newServiceDefaultValue.expired_at.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Service
        </label>
        <div class="controls">
            <input type="number"
                   name="service_default_value[service_id]"
                   ng-model="service_default_value.service_id"
                   class="number_field"
                   required>
          <span ng-show="newServiceDefaultValue.service_id.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    <div class="form-actions">
      <button class="btn btn-success" ng-click="save()"
        ng-disabled="isClean() || newServiceDefaultValue.$invalid">
        <i class="icon-save"></i> Save
      </button>
      <button ng-click="destroy()"
              ng-show="service_default_value.id"
              class="btn btn-danger">
              <i class="icon-trash"></i> Delete
      </button>
      <a href="/service_default_values" class="btn">Back to service_default_values</a>
    </div>
  </fieldset>
</form>

