<div class="container">

<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Thanks for checking us out!</strong>
   We had a lot of fun, and we put a ton of time in to this, so it is nice of you to check in on us.
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Approach</a></li>
  <li><a href="#profile" data-toggle="tab">Team Tools</a></li>
  <li><a href="#messages" data-toggle="tab">Dev Tools</a></li>
  <li><a href="#settings" data-toggle="tab">Lessons Learned</a></li>
</ul>

<!-- Tab panes -->
<div class="panel span6">
<div class="tab-content">
  <div class="tab-pane active" id="home">
      We really wanted to build a working app, and we did!!
      There is a lot more we wanted to do, but we implemented 70% of the functionality.

    <p>
        We built:
        Full editing of the data
        Users and Roles
        A full JSON/REST API so a team could programmatically manage their Configs
        <%= link_to "Interactive API Documentation", '/api_docs' , :target=>'_blank' %>, so developers could explore the demo system and understand it better.
    <p>
  </div>
  <div class="tab-pane" id="profile">
    Here are the Team tools we used:
      <a href="http://www.Trello.com">Trello.com</a> for managing our ideas, and keeping each other informed. <a href="https://trello.com/b/sz3MADAK/feature-ideas">See our public board</a>

      <a href="http://Kato.im">Kato.im</a> team chat, and keeping each other informed


  </div>
  <div class="tab-pane" id="messages">
    Dev tools
  </div>
  <div class="tab-pane" id="settings">
    lessons learned
    we had fun
  </div>
</div>
 
</div>


</div>

