<div class="container">

<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Thanks for checking us out!</strong>
   We had a lot of fun, and we put a ton of time in to this, so it is nice of you to check in on us.
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Approach</a></li>
  <li><a href="#profile" data-toggle="tab">Team Tools</a></li>
  <li><a href="#messages" data-toggle="tab">Dev Tools</a></li>
  <li><a href="#settings" data-toggle="tab">Lessons Learned</a></li>
</ul>

<!-- Tab panes -->
<div class="panel span6">
<div class="tab-content">
  <div class="tab-pane active" id="home">
      We really wanted to build a working app, and we did!!
      There is a lot more we wanted to do, but we implemented 70% of the functionality.

    <p>
        We built:
        <ul>
        <li class="">Full editing of the data</li>
        <li class="">Users and Roles</li>
        <li> A full JSON/REST API so a team could programmatically manage their Configs </li>
          <li>
          <%= link_to "Interactive API Documentation", '/api_docs' , :target=>'_blank' %>, so developers could explore the demo system and understand it better.</li>
        <li> You can see the application running live at: <a href="http://config-smart.herokuapp.com/ ">ConfigSmart</a></li>
        
        </ul>

       
    <p>
  </div>
  <div class="tab-pane" id="profile">
    Here are the Team tools we used:
    <ul>
      <li><a href="http://www.Trello.com">Trello.com</a> for managing our ideas, and keeping each other informed. <a href="https://trello.com/b/sz3MADAK/feature-ideas">See our public board</a></li>
      <li><a href="http://Kato.im">Kato.im</a> team chat, and keeping each other informed. (Checkout our public chat down in the corner)</li>
      <li>Google Hangout for team video chat, screensharing and white board design sessions</li>
  </ul>

  </div>
  <div class="tab-pane" id="messages">
    Dev tools:
    <ul>
      <li><a href="http://Nitrous.io">Nitrous.io</a> Shared development environment</li>
      <li>
        Heroku.com (Load our app<a href="http://config-smart.herokuapp.com">config-smart.herokuapp.com</a>)
      </li>
      <li>Github (Check out our <a href="https://github.com/dacat/configurator">Public Repo</a>)</li>
      <li>Swagger Docs</li>
    </ul>
  </div>
  <div class="tab-pane" id="settings">
    Lessons learned:
    <li class="">We learned a lot!</li>
    <li class="">We really liked collaborating on Nitrous, and Google Hangouts. At one point all 3 of us were coding in the same Nitrous account, and it was awesome </li>    
    <li>We had a great design session where we used a whiteboarding tool to sketch out our ideas. </li>
    <li>Stick to what you know!! (We tried a few new things, and learned a lot, but had to bail on things that were slowing us down (sorry Angular, you are cool and all, maybe next time)</li>
  </div>
</div>
 
</div>


</div>

